<!-- <br>
<small>&copy;Mateus</small> -->


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-black">&copy; 2022 Bootcamp Santander Fullstack Developer Desenvolvido por: Mateus M. Frahm</span>
        </div>

        <ul class="nav col-md-4 justify-content-end d-flex">

            <li class="ms-2">
                <a href="https://www.facebook.com/mateus.marquesfrahm/" target="_blank">
                    <img
                        src="https://img.icons8.com/cute-clipart/452/facebook-new.png" height="50" width="50" alt="icon-facebook">
                </a>
            </li>

            <li class="ms-2">
                <a href="https://www.linkedin.com/in/mateus-frahm-a573651b4/" target="_blank">
                    <img
                        src="https://img.icons8.com/color/452/linkedin.png" height="50" width="50" alt="icon-lindin">
                </a>
            </li>

            <li class="ms-2">
                <a href="https://www.instagram.com/matthew_shaux/?hl=pt-br" target="_blank">
                    <img
                        src="https://img.icons8.com/cute-clipart/452/instagram-new.png" height="50" width="50" alt="icon-instagram">
                </a>
            </li>

        </ul>

    </footer>
</div>
